html {
  height: 100%;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0px
}

#app {
  height: 100%;
}

#navbar {
  height: 100%;
}

.navbar {
  height: 10%;
}

.navbarchildren {
  height: 90%;
}

.inboxmain {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*overflow: hidden;*/
}

.userinbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.userinboxarticles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friendinbox {
  /*height:100%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginbuttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  margin-top: 25px;
}

.article {
  height: 200px;
  width: 43%;
}

.inputfield {
  display: flex;
  flex-direction: row;
}

.userImg {
  max-height: auto;
  max-width: 100%;
}

.logo {
  height: 70%;
}

.login-logo {
  height: 80%;
}

