html {
  height: 100%;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0px
}

#app {
  height: 100%;
}

#navbar {
  height: 100%;
}

.navbar {
  height: 10%;
}

.navbarchildren {
  height: 90%;
}


.inboxmain {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*overflow: hidden;*/
}

.userinbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.userinboxarticles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friendinbox {
  /*height:100%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginbuttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  margin-top: 25px;
}

.article {
  height: 200px;
  width: 48%;
}

.inputfield {
  display: flex;
  flex-direction: row;
}

.userImg {
  max-height: auto;
  max-width: 100%;
}

.logo {
  height: 70%;
}

.login-logo {
  height: 80%;
}

/*login button */
.buttoncontainer{
  position: absolute;
  top: 30%;
  left: 40%;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  padding-bottom: 10px;
  padding-top: 10px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #ffccbc;
  background-image: linear-gradient(#ff8a65, #ffccbc);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #ff8a65 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 8px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #ffccbc);
  cursor: pointer;
}

/* Twitter */
.loginBtn--twitter {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: #ffccbc;
  background-image: linear-gradient(#ff8a65, #ffccbc);
  text-shadow: 0 -1px 0 #354C8C;
  padding-right: 35px;
}
.loginBtn--twitter:before {
  border-right: #ff8a65 1px solid;
  background: url('http://www.streetinsider.com/images/tw-white.png') 4px 5px no-repeat;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  background: #36A2C9;
  background-image: linear-gradient(#36A2C9, #ffccbc);
  cursor: pointer;
}



