html {
  height: 100%;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0px
}

#app {
  height: 100%;
}

#navbar {
  height: 100%;
}

.navbar {
  height: 10%;
}

.navbarchildren {
  height: 90%;
}


.inboxmain {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*overflow: hidden;*/
}

.userinbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.userinboxarticles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friendinbox {
  /*height:100%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginbuttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  margin-top: 25px;
}

.article {
  height: 200px;
  width: 48%;
}

.inputfield {
  display: flex;
  flex-direction: row;
}

.userImg {
  max-height: auto;
  max-width: 100%;
}

.logo {
  height: 70%;
}

.login-logo {
  height: 80%;
}

/*login button */
.buttoncontainer{
  position: absolute;
  top: 30%;
  left: 40%;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  padding-bottom: 10px;
  padding-top: 10px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #ffccbc;
  background-image: linear-gradient(#ff8a65, #ffccbc);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #ff8a65 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 8px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #ffccbc);
  cursor: pointer;
}

/* Twitter */
.loginBtn--twitter {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: #ffccbc;
  background-image: linear-gradient(#ff8a65, #ffccbc);
  text-shadow: 0 -1px 0 #354C8C;
  padding-right: 35px;
}
.loginBtn--twitter:before {
  border-right: #ff8a65 1px solid;
  background: url('http://www.streetinsider.com/images/tw-white.png') 4px 5px no-repeat;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  background: #36A2C9;
  background-image: linear-gradient(#36A2C9, #ffccbc);
  cursor: pointer;
}

/* -- INFO CARD -- */

.wrapper {
  width: 350px;
  height: auto;
  margin: 10px 10px;
  padding-left: 1em;
  padding-right: 1em;
  /*overflow: scroll;*/
}

/**
 * Helpers
 */
.border-tlr-radius { 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
}

.card__padding {
  padding: 1.6rem;
}
 
.card__image {
  height: 100px;
  background-color: #eee;
}

.card__image div {
  width: 100%;
  max-width: 100%;
  display: block;
}
/*.card__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}*/

.card__content {
  position: relative;
}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
}
.card__article a:hover {
  color: #2980b9;
}

.card__article p {
  font-size: 14px;
}

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
   
.card__author {}

.card__author img,
.card__author-content {
  display: inline-block;
  vertical-align: middle;
}

.card__author img{
  height: 25px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.6em;
}

.card__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
.card__social--active {
  visibility: visible;
  /*z-index: 3;*/
  transform: translateZ(0);
  transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
  z-index: 2;
}
.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db;
}
.share-toggle.share-expanded:before {
  content: "\f00d";
}

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow: 
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
}
.share-icon:hover,
.share-icon:focus {
  box-shadow: 
      0 3px 6px rgba(0,0,0, 0.12),
      0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
  background-color: #3b5998; 
}
.twitter {
  background-color: #00abe3; 
}
.googleplus {
  background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
  color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
  color: #eee;
}
